body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 100%;
}

.main .picPub {
  background: url("../images/eberhard-grossgasteiger-YV_gbygzlWk-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 768px) {
  .main .picPub {
    height: 97vh;
  }
}

.main .picPub .text {
  text-align: center;
  color: #fff;
}

.main .picPub .text h1 {
  font-size: 165px;
  font-weight: 300;
  font-family: "Grenze", serif;
}

@media (min-width: 768px) {
  .main .picPub .text h1 {
    font-size: 195px;
  }
}

.main .picPub .text p {
  font-size: 25px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .main .picPub .text p {
    font-size: 27px;
  }
}

.main .picPub .text .pOne {
  margin-top: -1rem;
}

.main .picPub .text .pOne span {
  margin-right: 2px;
}

.main .picPub .text .p2 {
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .main .picPub .text .p2 {
    margin: 2rem;
  }
}

.main .picPub .text button {
  width: 141px;
  height: 40px;
  font-size: 20px;
  background: none;
  color: #fff;
  font-family: "Grenze", serif;
}

@media (min-width: 768px) {
  .main .picPub .text button {
    width: 161px;
    height: 45px;
    font-size: 23px;
  }
}

.main .picPub .text .blc {
  background-color: #fff;
  color: #1b1b1b;
}

.main .trois {
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .main .trois {
    margin: 5rem auto;
  }
}

@media (min-width: 768px) {
  .main .trois .imgLine {
    display: inline-block;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
  }
}

.main .trois .imgLine img {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1ps solid #1b1b1b;
}

@media (min-width: 768px) {
  .main .trois .imgLine img {
    width: 180px;
    height: 200px;
  }
}

.main .trois .imgLine .purple,
.main .trois .imgLine .beige,
.main .trois .imgLine .gris {
  background-color: #f1f1f1;
  height: 17px;
  width: 200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main .trois .imgLine .purple,
  .main .trois .imgLine .beige,
  .main .trois .imgLine .gris {
    width: 170px;
  }
}

.main .trois .imgLine .purple + h1,
.main .trois .imgLine .beige + h1,
.main .trois .imgLine .gris + h1 {
  font-size: 125px;
  color: #f1f1f1;
  position: relative;
  z-index: -1;
  opacity: 0.7;
  margin-top: -2rem;
  font-family: "Grenze", serif;
}

.main .trois .imgLine img:hover + .purple,
.main .trois .imgLine img:hover + .beige,
.main .trois .imgLine img:hover + .gris {
  display: none;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.main .trois .imgLine h4 {
  z-index: 900;
  margin-top: -4.5rem;
  font-family: "Grenze", serif;
  margin-bottom: 2rem;
}

.main .trois .imgLine p {
  margin: 1rem;
  font-size: 13px;
  width: 300px;
  margin: auto;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .main .trois .imgLine p {
    width: 200px;
  }
}

.main .pres {
  margin: 1rem 0;
}

.main .pres .presTop {
  text-align: center;
}

.main .pres .presTop .tex {
  background-color: #f1f1f1;
  padding: 1rem;
  margin: 3rem auto;
}

@media (min-width: 768px) {
  .main .pres .presTop .tex {
    height: 400px;
    padding-top: 5.5rem;
  }
}

.main .pres .presTop .tex h4 {
  font-size: 29px;
  padding: 1rem;
  font-family: "Grenze", serif;
  color: #1b1b1b;
}

@media (min-width: 768px) {
  .main .pres .presTop .tex h4 {
    font-size: 33px;
  }
}

.main .pres .presTop .tex p {
  margin-top: -1rem;
  width: 70%;
  margin: auto;
  font-family: "Cutive Mono", monospace;
  font-size: 13px;
}

.main .pres .presTop .tex .f1 {
  width: 300px;
  margin: auto;
  font-family: "Grenze", serif;
  font-size: 25px;
}

@media (min-width: 768px) {
  .main .pres .presTop .tex .f1 {
    font-size: 27px;
  }
}

.main .pres .presTop img {
  width: 300px;
  height: 200px;
  margin: 3rem auto;
}

@media (min-width: 768px) {
  .main .pres .presTop img {
    width: 400px;
    height: 300px;
  }
}

.main .pres .etor {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.main .pres .etor h3 {
  width: 90%;
  margin: 0 auto;
  font-family: "Grenze", serif;
}

@media (min-width: 768px) {
  .main .pres .etor h3 {
    font-size: 33px;
  }
}

.main .pres .etor h5 {
  width: 90%;
  margin: 1rem auto;
  font-family: "Grenze", serif;
}

@media (min-width: 768px) {
  .main .pres .etor h5 {
    font-size: 29px;
  }
}

.main .pres .etor p {
  width: 90%;
  margin: 1rem auto;
  font-size: 13px;
}

.main .pres .boxProgress {
  width: 80%;
  text-align: left;
  margin: auto;
}

.main .pres .boxProgress h5 {
  position: relative;
  top: 1.4rem;
  font-family: "Grenze", serif;
  margin-left: 2rem;
}

.main .pres .boxProgress .progress {
  width: 60%;
  height: 9px;
  border-radius: 0;
  margin-left: 7rem;
}

@media (min-width: 768px) {
  .main .pres .boxProgress .progress {
    margin-left: 11rem;
  }
}

.main .pres .boxProgress .boxen .progress-bar {
  background-color: #1b1b1b;
}

.main .mission {
  margin-top: 5rem;
  background-color: #f1f1f1;
  text-align: center;
}

.main .mission h1 {
  padding-top: 1rem;
  font-size: 57px;
  font-family: "Grenze", serif;
}

.main .mission p {
  font-family: "Cutive Mono", monospace;
  font-size: 13px;
  padding: 1rem;
  width: 80%;
  margin: auto;
}

.main .mission .vision,
.main .mission .valeur,
.main .mission .goal {
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  padding: 1rem;
}

.main .mission .vision h3,
.main .mission .valeur h3,
.main .mission .goal h3 {
  background-color: #1b1b1b;
  color: #fff;
  width: 80px;
  height: 80px;
  font-size: 15px;
  padding-top: 2rem;
  border-radius: 50%;
  margin: 1rem auto;
}

.main .mission .vision p,
.main .mission .valeur p,
.main .mission .goal p {
  width: 270px;
  padding: 1rem;
}

.main .mission .btnMore {
  background-color: #1b1b1b;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Grenze", serif;
}

.main .members {
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
}

.main .members .membPic {
  width: 300px;
  margin: 2rem auto;
  position: relative;
}

.main .members .membPic .imgBox {
  position: relative;
  overflow: hidden;
  max-height: 401px;
  margin: 0 auto;
}

.main .members .membPic .imgBox img {
  width: 100%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.main .members .membPic .details {
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  left: 0.1rem;
  right: 0.1rem;
  background: #fff;
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.main .members .membPic .details .content {
  padding: 2rem;
  color: black;
}

.main .members .membPic .details .content h5 {
  font-size: 27px;
  margin-bottom: 1rem;
  font-family: "Grenze", serif;
}

.main .members .membPic .details .content p {
  font-size: 21px;
  font-family: "Grenze", serif;
}

.main .members .membPic .details .icons {
  margin-top: 5rem;
}

.main .members .membPic .details .icons a img {
  width: 25px;
  height: 25px;
  margin: 1rem;
}

.main .members .membPic:hover .imgBox img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .members .membPic:hover .details {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.main .members button {
  width: 200px;
  background-color: #1b1b1b;
  color: #fff;
  padding: 0.5rem;
  outline: none;
  margin-top: 1rem;
}
/*# sourceMappingURL=index.css.map */