$primary: rgb(27, 27, 27);
$second: #f1f1f1;
$third: #1a377f;
$font1: "Cutive Mono", monospace;
$font2: "Grenze", serif;

$ipad: 768px;

@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 991px) {
    @content;
  }
}

@mixin bigScreen {
  @media (min-width: 1500px) {
    @content;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: $font1;
  box-sizing: border-box;
}

.main {
  width: 100%;
  .picPub {
    background: url("../images/eberhard-grossgasteiger-YV_gbygzlWk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7rem;
    height: 90vh;
    display: grid;
    place-items: center;

    @include ipad {
      height: 97vh;
    }

    .text {
      text-align: center;
      color: #fff;

      h1 {
        font-size: 165px;
        font-weight: 300;
        font-family: $font2;

        @include ipad {
          font-size: 195px;
        }

        @include bigScreen {
          font-size: 245px;
        }
      }
      p {
        font-size: 25px;
        margin-bottom: 2rem;

        @include ipad {
          font-size: 27px;
        }

        @include bigScreen {
          font-size: 35px;
        }
      }

      .pOne {
        margin-top: -1rem;

        span {
          margin-right: 2px;
        }
      }

      .p2 {
        margin: 1rem auto;

        @include ipad {
          margin: 2rem;
        }
      }

      button {
        width: 141px;
        height: 40px;
        font-size: 20px;
        background: none;
        color: #fff;
        font-family: $font2;

        @include ipad {
          width: 161px;
          height: 45px;
          font-size: 23px;
        }
      }

      .blc {
        background-color: #fff;
        color: $primary;
      }
    }
  }

  .trois {
    text-align: center;
    width: 90%;
    margin: 2rem auto;

    // todo----  fix the blinking 


    @include ipad {
      margin: 5rem auto;
    }

    .imgLine {
      @include ipad {
        display: inline-block;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
      }

      img {
        width: 300px;
        height: 200px;
        margin: 0 auto;

        @include ipad {
          width: 180px;
          height: 200px;
        }

        @include desktop {
          width: 250px;
          height: 270px;
        }

        @include bigScreen {
          width: 320px;
          height: 280px;
        }
      }

      .purple,
      .beige,
      .gris {
        background-color: $second;
        height: 17px;
        width: 200px;
        margin: 0 auto;

        @include ipad {
          width: 150px;
        }

        @include desktop {
          width: 200px;
        }
      }

      .purple + h1,
      .beige + h1,
      .gris + h1 {
        font-size: 125px;
        color: $second;
        position: relative;
        z-index: -1;
        opacity: 0.7;
        margin-top: -2rem;
        font-family: $font2;
      }

      img:hover + .purple,
      img:hover + .beige,
      img:hover + .gris {
        display: none;
        transition-duration: 3s;
        transition-timing-function: linear;
        transition-delay: 2s;
      }

      h4 {
        z-index: 900;
        margin-top: -4.5rem;
        font-family: $font2;
        margin-bottom: 2rem;
      }

      p {
        margin: 1rem;
        font-size: 13px;
        width: 300px;
        margin: auto;
        margin-bottom: 3rem;

        @include ipad {
          width: 200px;
        }
      }
    }
  }

  .pres {
    margin: 1rem 0;

    .presTop {
      text-align: center;

      .tex {
        background-color: $second;
        padding: 1rem;
        margin: 3rem auto;

        @include ipad {
          height: 400px;
          padding-top: 5.5rem;
        }

        h4 {
          font-size: 29px;
          padding: 1rem;
          font-family: $font2;
          color: $primary;

          @include ipad {
            font-size: 33px;
          }

          @include desktop {
            font-size: 39px;
          }
        }

        p {
          margin-top: -1rem;
          width: 70%;
          margin: auto;
          font-family: $font1;
          font-size: 13px;

          @include desktop {
            font-size: 14px;
          }
        }

        .f1 {
          width: 300px;
          margin: auto;
          font-family: $font2;
          font-size: 25px;

          @include ipad {
            font-size: 27px;
          }

          @include desktop {
            font-size: 31px;
          }
        }
      }

      img {
        width: 300px;
        height: 200px;
        margin: 3rem auto;

        @include ipad {
          width: 400px;
          height: 300px;
        }

        @include desktop {
          width: 800px;
          height: 500px;
        }
      }
    }

    .etor {
      width: 80%;
      margin:  auto;
      margin-top: 2rem;

      @include bigScreen {
        position: relative;
        left: 7rem;
      }

      h3 {
        width: 90%;
        margin: 0 auto;
        font-family: $font2;

        @include ipad {
          font-size: 33px;
        }

        @include desktop {
          font-size: 39px;
        }
      }

      h5 {
        width: 90%;
        margin: 1rem auto;
        font-family: $font2;

        @include ipad {
          font-size: 29px;
        }

        @include desktop {
          font-size: 31px;
        }
      }

      p {
        width: 90%;
        margin: 1rem auto;
        font-size: 13px;

        @include desktop {
          font-size: 15px;
        }
      }
    }

    .boxProgress {
      width: 80%;
      text-align: left;
      margin: auto;

      @include ipad{
        margin-bottom: 7rem;
      }


      h5 {
        position: relative;
        top: 1.4rem;
        font-family: $font2;
        margin-left: 2rem;


        @include desktop {
          font-size: 23px;
          margin-left: 3rem;
          top: 1.47rem;
        }

        @include bigScreen {
          margin-left: 13rem;
        }
      }

      .progress {
        width: 60%;
        height: 9px;
        border-radius: 0;
        margin-left: 7rem;

        @include ipad {
          margin-left: 11rem;
        }

        @include desktop {
          width: 70%;
          margin-left: 14rem;
        }

        @include bigScreen {
          width: 60%;
          margin-left: 23rem;
        }
      }

      .boxen {
        .progress-bar {
          background-color: $primary;
        }
      }
    }
  }

  .mission {
    margin-top: 5rem;
    background-color: #f1f1f1;
    text-align: center;

 //todo----- divs should have the same hight 

    @include ipad {
      text-align: left;
    }

    @include desktop {
      text-align: center;
    }

    h1 {
      font-size: 57px;
      padding-top: 1rem;
      font-family: $font2;

      @include ipad {
        text-align: center;
      }


      @include bigScreen {
        padding-top: 2rem;
      }
    }

    p {
      font-family: $font1;
      font-size: 13px;
      padding: 1rem;
      width: 80%;
      margin: auto;

      @include ipad {
        text-align: center;
        margin-bottom: 2rem;
      }

      @include bigScreen {
        text-align: center;
        padding: 2rem;
      }
    }

    .vision,
    .valeur,
    .goal {
      width: 80%;
      margin: auto;
      padding: 1rem;

      @include ipad {
        display: inline-block;
        width: 30%;
        text-align: center;
        margin-left: 0.9rem;
        margin-bottom: 2rem;

        @include desktop {
          padding: 0;
          margin-left: 1.3rem;
        }
      }

      h3 {
        background-color: $primary;
        color: #fff;
        width: 80px;
        height: 80px;
        font-size: 15px;
        padding-top: 2rem;
        border-radius: 50%;
        margin: 1rem auto;
      }

      p {
        width: 270px;
        padding: 1rem;

        @include ipad {
          width: 170px;
        }

        @include desktop {
          padding: 0;
          width: 300px;
        }
      }
    }

    .vision:hover,
    .valeur:hover,
    .goal:hover {
      background-color: rgb(233, 233, 233);
      border-radius: 1px;
    }

    .btnMore {
      background-color: $primary;
      color: #fff;
      padding: 0.5rem;
      margin: 3rem auto;
      font-family: $font2;

      @include ipad {
        position: relative;
        left: 43%;
      }

      @include desktop {
        position: static;
        left: 0;
      }
    }
  }

  .white {
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 5rem;
    position: relative;

    @include ipad {
      height: 500px;
      width: 90%;
    }

    @include desktop {
      width: 80%;
    }

    @include bigScreen {
      width: 60%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .wtText {
      position: absolute;
      top: 2.5rem;
      background-color: rgb(255, 255, 255);
      font-size: 13px;
      text-align: center;
      height: 310px;
      padding: 3rem;
      padding-top: 3rem;

      h4 {
        @include ipad {
          margin-bottom: 2rem;
        }
      }

      @include ipad {
        width: 90%;
        margin: 0 auto;
        top: 7rem;
        left: 3rem;
      }

      button {
        padding: 1rem;
        background-color: $primary;
        color: #fff;
        margin: 1rem;
      }
    }
  }

  .members {
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;

    h1 {
      font-family: $font2;
      margin-bottom: 2rem;
    }
    .membPic {
      width: 300px;
      margin: 2rem auto;
      position: relative;

      @include ipad {
        width: 230px;
        display: inline-block;
      }

      @include desktop {
        width: 271px;
        margin-right: 1.5rem;
      }

      @include bigScreen {
        width: 300px;
      }

      .imgBox {
        position: relative;
        overflow: hidden;
        max-height: 401px;
        margin: 0 auto;

        @include ipad {
          max-height: 450px;
        }

        img {
          width: 100%;
          height: 401px;
          transition: transform 2s;
        }
      }

      .details {
        position: absolute;
        top: 0.1rem;
        bottom: 0.1rem;
        left: 0.1rem;
        right: 0.1rem;
        background: #fff;
        opacity: 0.8;
        display: grid;
        place-items: center;
        transform: scaleY(0);
        transition: transform 0.7s;

        .content {
          padding: 2rem;
          color: black;

          h5 {
            font-size: 27px;
            margin-bottom: 1rem;
            font-family: $font2;
          }

          p {
            font-size: 21px;
            font-family: $font2;
          }
        }

        .icons {
          margin-top: 5rem;

          a {
            img {
              width: 25px;
              height: 25px;
              margin: 1rem;

              @include ipad {
                margin: 0.3rem;
                margin-top: 3rem;
              }
            }
          }
        }
      }
    }

    .membPic:hover .imgBox img {
      transform: scale(1.2);
    }

    .membPic:hover .details {
      transform: scaleY(1);
    }

    button {
      width: 200px;
      background-color: $primary;
      color: #fff;
      padding: 0.5rem;
      outline: none;
      margin-top: 1rem;
    }

    .button {
      @include ipad {
        width: 100%;
      }
    }
  }
}
