$titleColor: rgb(53, 53, 53);
$titleSize: 3rem;
$textColor:rgb(107, 107, 107);

@mixin phoneView {
	@media (max-width: 3200px) {
		@content;
	}
}

@mixin ipadView {
	@media screen and (min-width: 767px) {
		@content;
	}
}

@mixin desktopView {
	@media (min-width: 900px)  {
		@content;
	}
}
