@import './settings';

.footerWrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $titleColor;
    color: white;
    text-align: center;
   
    
    p{
        padding-top: .3rem;
        color: rgb(202, 202, 202);
       
        .myIcons{
            margin-top: .3rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}