@import './settings';

.footerWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   font-family: 'Roboto';
    
    p{
        flex: 1;
        color: $textColor;
       font-size: 1.2rem;
        .myIcons{
            color: $textColor;
            font-size: 1.2rem;
            margin: 1rem;
        }
    }
}