.footerWrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(49, 48, 48);
    color: white;
    text-align: center;
   // height: 50px;
    
    p{
        color: rgb(202, 202, 202);
        padding-top: 1rem;
    }
}