@import '../styles/settings';

.landingPage {
	margin-top: 2rem;
	margin-bottom: 3rem;
	padding: 1rem;

	@include desktopView {
		display: grid;
		grid-template-areas: ' left right';
		grid-template-rows: auto;
        margin: 5rem 0;
	}

	.leftText {
		grid-area: left;
		margin-bottom: 3rem;
		@include ipadView {
			margin-bottom: 5rem;
		}

		@include desktopView {
			margin-bottom: 5rem;
		}

		padding-right: 2rem;

		h1 {
			font-size: $titleSize;
			font-weight: 540;
			margin-bottom: 2rem;
			padding: 1rem;
		}

		p {
			font-size: 1.2rem;
			color: $textColor;
			margin-bottom: 3rem;
		}
	}

	.rightPic {
		margin-top: 2rem;

		@include desktopView {
			grid-area: right;
		}
		.pic {
			@include desktopView {
				position: relative;
				top: 35%;
				transform: translateY(-50%);
			}
		}
	}
}
