@import './settings';

.main {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include ipadView {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}