@import '../styles/settings';

@mixin ipadView {
	@media (max-width: 651px) {
		@content;
	}
}

.projectsPage {
	font-family: 'Roboto';
	.pageTitle {
		text-align: center;
		margin-top: 3rem;
		margin-bottom: -3rem;

		@include ipadView {
			margin-bottom: 1rem;
		}

		h1 {
			color: $titleColor;
			font-size: $titleSize;
		}
	}

	.projectsContainer {
		margin-bottom: 9rem;
		padding: 1rem;

		@include ipadView {
			margin-bottom: 3rem;
		}
		.projectItem {
			margin-top: 7rem;
			padding: 1rem;

			@include desktopView {
				margin-top: 5rem;
			}

			@include ipadView {
				margin-top: 0;
			}

			.text {
				height: 230px;

				@include desktopView {
					height: auto;
				}

				@include ipadView {
					flex: none;
					text-align: center;
					margin-bottom: 2rem;
				}
				h1 {
					font-size: $titleSize;
					color: $titleColor;
				}

				p {
					font-size: 1.27rem;
					color: $textColor;
				}
			}

			.pic {
				height: 230px;
				display: flex;
				flex-direction: row-reverse;
				position: relative;

				@include ipadView {
                    margin: 1rem;
                    height: 180px;
				}

				.picContainer {
					height: 100%;
					width: 450px;
					margin: 0 auto;

					@include desktopView {
						width: auto;
					}

					&:hover img {
						opacity: 0.3;
					}

					&:hover .imageText {
						opacity: 1;
					}

					img {
						opacity: 1;
						display: block;
						transition: 0.5s ease;
						backface-visibility: hidden;
					}

					.imageText {
						transition: 0.5s ease;
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						text-align: center;

						.btn {
							background-color: #4caf50;
							color: white;
							font-size: 16px;
							padding: 16px 32px;
						}
					}
				}
			}

			.rightText {
				text-align: right;
				padding-left: 3rem;

				@include ipadView {
					flex: none;
					text-align: center;
					padding-left: 0;
				}
			}

			.leftPic {
				display: flex;
				flex-direction: row;
			}
		}
	}
}
