@import '../styles/settings';
.projectsWrapper {
	font-family: 'Roboto';
	.title {
		text-align: center;
		margin-top: 3rem;
		margin-bottom: -3rem;

		h1 {
			color: $titleColor;
			font-size: $titleSize;
			font-weight: 600;
		}
	}

	.projectsContainer {
		margin-bottom: 7rem;
		padding: 1rem;
		.leftText {
			margin-top: 7rem;
			padding: 1rem;
			.text {
				height: 230px;

				h1 {
					font-size: $titleSize;
					color: $titleColor;
				}

				p {
					font-size: 1.27rem;
					color: $textColor;
				}
			}

			.pic {
				height: 230px;
				margin-left: 7rem;

				.picContainer {
					height: 100%;
					width: 450px;
					position: relative;

					&:hover img {
						opacity: 0.3;
					}

					&:hover .imageText {
						opacity: 1;
					}

					img {
						opacity: 1;
						display: block;
						transition: 0.5s ease;
						backface-visibility: hidden;
					}

					.imageText {
						transition: 0.5s ease;
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(
							-50%,
							-50%
						);
						-ms-transform: translate(
							-50%,
							-50%
						);
						text-align: center;

						.btn {
							background-color: #4caf50;
							color: white;
							font-size: 16px;
							padding: 16px 32px;
						}
					}
				}
			}

			.right {
				text-align: right;
				padding-left: 3rem;
			}

			.left {
				margin-left: 0;
			}
		}
	}
}
